h1{color:#FFF;text-align: center;}
h3{color:#FFF;}
Li{
text-decoration:none; 
list-style-type:none;
font-size:30px;

}
a{text-decoration:none; 

}
p{
color:#FFF;text-right: center;
font-size:30px;
}
h2{color:#FFF;}
h5{margin-top:630px;
font-size:30px;}
